.filterlabel {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.Filtercomponent {
  margin-top: 5rem;
  justify-content: space-evenly;
  margin-bottom: 10px;
  gap: 45rem;
  margin-left: 2rem;
}
.Filter_dropdown select {
  width: 8rem;
  height: 2rem;
  font-size: 20px;
  text-align: center;
}
