* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered {
  padding: 3rem;
  margin-left: 20rem;
  margin-top: 5rem;
  width: 35rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.form-control input,
.form-control select {
  font: inherit;

  border-radius: 4px;
  border: 1px solid #ccc;

  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

/***/
